{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
<div class="hero-white">
    <div class="header clearfix">
        <a href="{% url 'main' %}" class="logo"></a>

        {% include 'mainapp/includes/inc_main_menu.html' %}

    </div>
</div>
{% endblock %}

{% block content %}
<div class="details">
    <div class="links clearfix">
        {% include 'mainapp/includes/inc_cat_menu.html' %}

    </div>

    <div class="tab-content">
        {% for product in products %}
        <div class="block">
            <a href="{% url 'products:index' %}{{ product.category.id }}/{{ product.id }}"><img src="/media/{{ product.image }}" width="270" height="270" alt="">
                <div class="text">
                    <img src="{% static '/img/icon-hover.png' %}" alt="{{ product.short_desc }}">
                    <h3>{{ product.category.name }}</h3>
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.short_desc }}</p>
                </div>
            </a>
        </div>
        {% endfor%}

    </div>




    <div class="related">
        <div class="title clearfix">
            <h2>Похожие продукты</h2>
            <a class="explore" href="#">показать все <img src="{% static '/img/arrow.png' %}" alt=""></a>
        </div>
        <div class="related-products clearfix">
            <div class="block">
                <a href="#"><img src="{% static '/img/product-11.jpg' %}" alt="">
                    <div class="text">
                        <img src="{% static '/img/icon-hover.png' %}" alt="img">
                        <h4>Стул повышенного качества</h4>
                        <p>Не оторваться. </p>
                    </div>
                </a>
            </div>
            <div class="block">
                <a href="#"><img src="{% static '/img/product-21.jpg' %}" alt="">
                    <div class="text">
                        <img src="{% static '/img/icon-hover.png' %}" alt="img">
                        <h4>Стул повышенного качества</h4>
                        <p>Не оторваться. </p>
                    </div>
                </a>
            </div>
            <div class="block">
                <a href="#"><img src="{% static '/img/product-31.jpg' %}" alt="">
                    <div class="text">
                        <img src="{% static '/img/icon-hover.png' %}" alt="img">
                        <h4>Стул повышенного качества</h4>
                        <p>Не оторваться. </p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}